/*     background-color: #f2fbfb; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Krona One';
}
a{
    color: #333333;
    text-decoration: none;
}
body{
    margin-top: 20vh;
    display: grid;
}
.hello h1{
    color: #403d40;
}
.blog_element{
    color: #403d40;
}
.faq_element{
    color: #403d40;
}
.contact_element h1{
    color: #403d40;
}
.blog_element p{
    color: #cdcccd;
}
.faq_element p{
    color: #cdcccd;
}
.contact_element p{
    color: #cdcccd;
}
.hello p{
    color: #cdcccd;
}
.item:nth-child(1){
    background-color: #baecee;
}
.item:nth-child(2){
    background-color: #fae1ef;
}
.item:nth-child(3){
    background-color: #fefbe5;
}
.item:nth-child(4){
    background-color: #e8bdf5;
    margin-bottom: 5vh;
}


@media (min-width: 1281px) {
    .nav{
        display: grid;
        grid-template-columns: repeat(5 , minmax(30px,1fr));
    }
    .hamburger{
        width: 25px;
        height: 21px;
        border: none;
        border-top: 3px solid #333333;
        background-color: transparent;
        position: relative;
        transition: .3s transform linear;
    }
    .hamburger::before, .hamburger::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333333;
        transform: translateY(3px);
    }
    .hamburger::after{
        transform: translateY(9px);
        transition: .3s transform linear;
    }
    .hamburger:focus{
        transform: rotate(45deg) translateX(-3px);
        border: none;

    }
    .hamburger:focus ~.nav_element{
        opacity: 1;
    }
    .hamburger:focus::after{
        transform: rotate(-90deg) translateX(-3px);
    }
    .nav_element{
        height: 20px;
        opacity: 0;
        transition: .5s opacity ease;
    }
    .hello{
        display: grid;
        grid-template-columns: repeat(2,minmax(20vw,1fr));
    }
    .hello h1{
        margin-left: -11px;
        font-size: 100px;
        font-weight: 100;
        padding-top: 10vh;
        padding-bottom: 1vh;
    }
    .hello p{
        font-size: 14px;
        padding-bottom: 18vh;
    }
    body{
        padding: 0 30vw;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, minmax(20vw, 1fr));
    }
    .item{
        width: 20vw;
        height: 20vw;
    }
    .item img{
        padding: 1vw;
        width: 18vw;
        height: 18vw;
    }
    .shop{
        padding-top: 10vh;
        padding-bottom: 5vh;
        letter-spacing: 1em;
        font-size: 13px;
        text-align: center;
    }

    .line{
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(2 ,minmax(20vw,1fr));
        padding-bottom: 6vh;
    }
    .line div:nth-child(1){
        border-right: 2px solid #cdcccd;
    }
    .info{
        text-align: center;
        padding-bottom: 5vw;
    }
    .info p{
        font-size: 12px;
        margin: 0 5vw;
    }
    .links{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3 ,minmax(8vw,1fr));
        padding-bottom: 5vh;
    }
    footer .line{
        padding-bottom: 0;
    }
    .items_link{
        border-top:2px solid #333333 ;
        border-bottom: 2px solid #333333;
        width: 8vw;
    }
    .date{
        text-align: center;
        font-size: 12px;
    }
    /* blog elements */
    .blog_element{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 4vh;
    }
    .blog_element h1{
        text-align: center;
        font-size: 12px;
    }
    .blog_element p{
        text-align: center;
        font-size: 10px;
        color: #cdcccd;
    }
    .title h1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 4vh;

    }
    .blog_text p{
        font-size: 15px;
        text-align: left;
        color: #cdcccd;
    }
    /* faq elements */
    .faq_element{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 4vh;
    }
    .faq_number{
        font-size: 40px;
    }
    .faq_question{
        font-size: 26px;
    }
    .faq_answer{
        font-size: 14px;
        color: #cdcccd;
    }
    .contact_element{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact_items h1{
        padding-top: 2vh;
        font-size: 20px;
    }
    .contact_items p{
        font-size: 16px;
        color: #cdcccd;
    }
    .form_class input[type=text]{
        border: none;
        margin-bottom: 1vh;
        height: 25px;
        width: 17.25vw;
        border-bottom: 1px solid #cdcccd;
    }
    .form_class textarea{
        margin-bottom: 1vh;
        resize: none;
        border: none;
        height: 20vh;
        width: 17.25vw;
        border-bottom: 1px solid #cdcccd;
    }
    .form_class input[type=submit]{
        border:none;
        height: 35px;
    }
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .nav{
        display: grid;
        grid-template-columns: repeat(1 , minmax(30px,1fr));
        margin-right: 0;
        margin-left: auto;
    }
    .nav_element{
        height: 20px;
        opacity: 0;
        transition: .5s opacity ease;
    }
    .hamburger{
        margin-left: 60px;
        width: 25px;
        height: 21px;
        border: none;
        border-top: 3px solid #333333;
        background-color: transparent;
        position: relative;
        transition: .5s transform linear;
    }
    .hamburger::before, .hamburger::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333333;
        transform: translateY(3px);
    }
    .hamburger::after{
        transform: translateY(9px);
        transition: .5s transform linear;
    }
    .hamburger:focus{
        transform: rotate(45deg) translateX(-3px);
        border: none;

    }
    .hamburger:focus ~.nav_element{
        opacity: 1;
    }
    .hamburger:focus::after{
        transform: rotate(-90deg) translateX(-3px);
    }
    body{
        padding: 0 15vw;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, minmax(20vw, 1fr));
    }
    .item{
        width: 20vw;
        height: 20vw;
    }
    .item img{
        padding: 1vw;
        width: 18vw;
        height: 18vw;
    }
    .hello{
        display: grid;
        grid-template-columns: repeat(2,minmax(20vw,1fr));
    }
    .hello h1{
        margin-left: -11px;
        font-size: 70px;
        font-weight: 100;
        padding-top: 10vh;
        padding-bottom: 1vh;
    }
    .hello p{
        font-size: 12px;
        padding-bottom: 18vh;
    }
    body{
        padding: 0 30vw;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, minmax(20vw, 1fr));
    }
    .item{
        width: 20vw;
        height: 20vw;
    }
    .shop{
        padding-top: 10vh;
        padding-bottom: 5vh;
        letter-spacing: 1em;
        font-size: 13px;
        text-align: center;
    }

    .line{
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(2 ,minmax(20vw,1fr));
        padding-bottom: 6vh;
    }
    .line div:nth-child(1){
        border-right: 2px solid #cdcccd;
    }
    .info{
        text-align: center;
        padding-bottom: 5vw;
    }
    .info p{
        font-size: 12px;
        margin: 0 5vw;
    }
    .links{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3 ,minmax(8vw,1fr));
        padding-bottom: 5vh;
    }
    footer .line{
        padding-bottom: 0;
    }
    .items_link{
        border-top:2px solid #333333 ;
        border-bottom: 2px solid #333333;
        width: 12vw;
    }
    /* blog elements */
    .blog_element{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 4vh;
    }
    .blog_element h1{
        text-align: center;
        font-size: 12px;
    }
    .blog_element p{
        text-align: center;
        font-size: 10px;
        color: #cdcccd;
    }
    .title h1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 4vh;

    }
    .blog_text p{
        font-size: 15px;
        text-align: left;
        color: #cdcccd;
    }
        /* faq elements */
        .faq_element{
            display: grid;
            grid-template-columns: 80px 1fr;
            padding-bottom: 4vh;
        }
        .faq_number{
            font-size: 40px;
        }
        .faq_question{
            font-size: 26px;
        }
        .faq_answer{
            font-size: 14px;
            color: #cdcccd;
    
        }
        /* contact */
        .contact_element{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .contact_items h1{
            padding-top: 2vh;
            font-size: 20px;
        }
        .contact_items p{
            font-size: 16px;
            color: #cdcccd;
        }
        .form_class input[type=text]{
            border: none;
            margin-bottom: 1vh;
            height: 25px;
            width: 17.25vw;
            border-bottom: 1px solid #cdcccd;
        }
        .form_class textarea{
            margin-bottom: 1vh;
            resize: none;
            border: none;
            height: 20vh;
            width: 17.25vw;
            border-bottom: 1px solid #cdcccd;
        }
        .form_class input[type=submit]{
            border: none;
            height: 35px;
        }
}
.date{
    text-align: center;
    font-size: 12px;
}
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .nav{
        display: grid;
        grid-template-columns: repeat(1 , minmax(30px,1fr));
        margin-right: 0;
        margin-left: auto;
    }
    .nav_element{
        height: 20px;
        opacity: 0;
        transition: .5s opacity ease;
    }
    .hamburger{
        margin-left: 60px;
        width: 25px;
        height: 21px;
        border: none;
        border-top: 3px solid #333333;
        background-color: transparent;
        position: relative;
        transition: .5s transform linear;
    }
    .hamburger::before, .hamburger::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333333;
        transform: translateY(3px);
    }
    .hamburger::after{
        transform: translateY(9px);
        transition: .5s transform linear;
    }
    .hamburger:focus{
        transform: rotate(45deg) translateX(-3px);
        border: none;

    }
    .hamburger:focus ~.nav_element{
        opacity: 1;
    }
    .hamburger:focus::after{
        transform: rotate(-90deg) translateX(-3px);
    }
    body{
        padding: 0 10vw;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, minmax(40vw, 1fr));
    }
    .item{
        width: 40vw;
        height: 40vw;
    }
    .item img{
        padding: 2vw;
        width: 36vw;
        height: 36vw;
    }
    .hello{
        display: grid;
        grid-template-columns: repeat(2,minmax(20vw,1fr));
    }
    .hello h1{
        margin-left: -11px;
        font-size: 100px;
        font-weight: 100;
        padding-top: 10vh;
        padding-bottom: 1vh;
    }
    .hello p{
        font-size: 14px;
        padding-bottom: 18vh;
    }
    .shop{
        padding-top: 10vh;
        padding-bottom: 5vh;
        letter-spacing: 1em;
        font-size: 13px;
        text-align: center;
    }

    .line{
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(2 ,minmax(20vw,1fr));
        padding-bottom: 6vh;
    }
    .line div:nth-child(1){
        border-right: 2px solid #cdcccd;
    }
    .info{
        text-align: center;
        padding-bottom: 10vw;
    }
    .info p{
        font-size: 12px;
        margin: 0 5vw;
    }
    .links{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3 ,minmax(8vw,1fr));
        padding-bottom: 5vh;
    }
    footer .line{
        padding-bottom: 0;
    }
    .items_link{
        border-top:2px solid #333333 ;
        border-bottom: 2px solid #333333;
        width: 20vw;
    }
    /* blog elements */
    .blog_element{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 4vh;
    }
    .blog_element h1{
        text-align: center;
        font-size: 12px;
    }
    .blog_element p{
        text-align: center;
        font-size: 10px;
        color: #cdcccd;
    }
    .title h1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 4vh;

    }
    .blog_text p{
        font-size: 15px;
        text-align: left;
        color: #cdcccd;
    }
        /* faq elements */
        .faq_element{
            display: grid;
            grid-template-columns: 80px 1fr;
            padding-bottom: 4vh;
        }
        .faq_number{
            font-size: 40px;
        }
        .faq_question{
            font-size: 26px;
        }
        .faq_answer{
            font-size: 14px;
            color: #cdcccd;
    
        }

        /* contact */
        .contact_element{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .contact_items h1{
            padding-top: 2vh;
            font-size: 20px;
        }
        .contact_items p{
            font-size: 16px;
            color: #cdcccd;
        }
        .form_class input[type=text]{
            border: none;
            margin-bottom: 1vh;
            height: 25px;
            width: 70vw;
            border-bottom: 1px solid #cdcccd;
        }
        .form_class textarea{
            margin-bottom: 1vh;
            resize: none;
            border: none;
            height: 20vh;
            width: 70vw;
            border-bottom: 1px solid #cdcccd;
        }
        .form_class input[type=submit]{
            border: none;
            height: 35px;
        }
}
.date{
    text-align: center;
    font-size: 12px;
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .nav{
        display: grid;
        grid-template-columns: repeat(1 , minmax(30px,1fr));
        margin-right: 0;
        margin-left: auto;
    }
    .nav_element{
        height: 20px;
        opacity: 0;
        transition: .5s opacity ease;
    }
    .hamburger{
        margin-left: 60px;
        width: 25px;
        height: 21px;
        border: none;
        border-top: 3px solid #333333;
        background-color: transparent;
        position: relative;
        transition: .5s transform linear;
    }
    .hamburger::before, .hamburger::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333333;
        transform: translateY(3px);
    }
    .hamburger::after{
        transform: translateY(9px);
        transition: .5s transform linear;
    }
    .hamburger:focus{
        transform: rotate(45deg) translateX(-3px);
        border: none;

    }
    .hamburger:focus ~.nav_element{
        opacity: 1;
    }
    .hamburger:focus::after{
        transform: rotate(-90deg) translateX(-3px);
    }
    
    body{
        padding: 0 10vw;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, minmax(40vw, 1fr));
    }
    .item{
        width: 40vw;
        height: 40vw;
    }
    .item img{
        padding: 2vw;
        width: 36vw;
        height: 36vw;
    }
    .items_link{
        border-top:2px solid #333333 ;
        border-bottom: 2px solid #333333;
        width: 40vw;
    }
    /* blog elements */
    .blog_element{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 4vh;
    }
    .blog_element h1{
        text-align: center;
        font-size: 12px;
    }
    .blog_element p{
        text-align: center;
        font-size: 10px;
        color: #cdcccd;
    }
    .title h1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 4vh;

    }
    .blog_text p{
        font-size: 15px;
        text-align: left;
        color: #cdcccd;
    }
        /* faq elements */
        .faq_element{
            display: grid;
            grid-template-columns: 80px 1fr;
            padding-bottom: 4vh;
        }
        .faq_number{
            font-size: 40px;
        }
        .faq_question{
            font-size: 26px;
        }
        .faq_answer{
            font-size: 14px;
            color: #cdcccd;
    
        }
                /* contact */
                .contact_element{
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                }
                .contact_items h1{
                    padding-top: 2vh;
                    font-size: 20px;
                }
                .contact_items p{
                    font-size: 16px;
                    color: #cdcccd;
                }
                .form_class input[type=text]{
                    border: none;
                    margin-bottom: 1vh;
                    height: 25px;
                    width: 70vw;
                    border-bottom: 1px solid #cdcccd;
                }
                .form_class textarea{
                    margin-bottom: 1vh;
                    resize: none;
                    border: none;
                    height: 20vh;
                    width: 70vw;
                    border-bottom: 1px solid #cdcccd;
                }
                .form_class input[type=submit]{
                    border: none;
                    height: 35px;
                }
}
.date{
    text-align: center;
    font-size: 12px;
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    body{
        padding: 0 5vw;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100vw,1fr));
    }
    .item{
        width: 90vw;
        height: 90vw;
    }
    .item img{
        padding: 3vw;
        width: 86vw;
        height: 86vw;
    }
    .hello{
        display: grid;
        grid-template-columns: repeat(2,minmax(20vw,1fr));
    }
    .hello h1{
        margin-left: -11px;
        font-size: 100px;
        font-weight: 100;
        padding-top: 10vh;
        padding-bottom: 1vh;
    }
    .hello p{
        font-size: 14px;
        padding-bottom: 18vh;
    }
    .shop{
        padding-top: 10vh;
        padding-bottom: 5vh;
        letter-spacing: 1em;
        font-size: 13px;
        text-align: center;
    }

    .line{
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(2 ,minmax(20vw,1fr));
        padding-bottom: 6vh;
    }
    .line div:nth-child(1){
        border-right: 2px solid #cdcccd;
    }
    .info{
        text-align: center;
        padding-bottom: 5vw;
    }
    .info p{
        font-size: 10px;
        margin: 0 5vw;
    }
    .links{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3 ,minmax(8vw,1fr));
        padding-bottom: 5vh;
    }
    footer .line{
        padding-bottom: 0;
    }
    .items_link{
        border-top:2px solid #333333 ;
        border-bottom: 2px solid #333333;
        width: 40vw;
    }
    /* blog elements */
    .blog_element{
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 4vh;
    }
    .blog_element h1{
        text-align: center;
        font-size: 12px;
    }
    .blog_element p{
        text-align: center;
        font-size: 10px;
        color: #cdcccd;
    }
    .title h1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 4vh;

    }
    .blog_text p{
        font-size: 15px;
        text-align: left;
        color: #cdcccd;
    }
        /* faq elements */
        .faq_element{
            display: grid;
            grid-template-columns: 80px 1fr;
            padding-bottom: 4vh;
        }
        .faq_number{
            font-size: 30px;
        }
        .faq_question{
            font-size: 18px;
        }
        .faq_answer{
            font-size: 10px;
            color: #cdcccd;
    
        }
                /* contact */
                .contact_element{
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                }
                .contact_items h1{
                    padding-top: 2vh;
                    font-size: 20px;
                }
                .contact_items p{
                    font-size: 16px;
                    color: #cdcccd;
                }
                .form_class input[type=text]{
                    border: none;
                    margin-bottom: 1vh;
                    height: 25px;
                    width: 70vw;
                    border-bottom: 1px solid #cdcccd;
                }
                .form_class textarea{
                    margin-bottom: 1vh;
                    resize: none;
                    border: none;
                    height: 20vh;
                    width: 70vw;
                    border-bottom: 1px solid #cdcccd;
                }
                .form_class input[type=submit]{
                    border: none;
                    height: 35px;
                }
  }
  .date{
    text-align: center;
    font-size: 12px;
}
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    body{
        padding: 0 5vw;
        overflow-x:hidden ;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100vw,1fr));
    }
    .item{
        width: 90vw;
        height: 90vw;
    }
    .item img{
        padding: 3vw;
        width: 84vw;
        height: 84vw;
    }
    .nav{
        display: grid;
        grid-template-columns: repeat(1 , minmax(30px,1fr));
        margin-right: 10px;
        margin-left: auto;
    }
    .nav_element{
        height: 20px;
        margin-right: 30px;
        text-align: right;
        opacity: 0;
        transition: .5s opacity ease;
    }
    .hamburger{
        margin-left: 60px;
        width: 25px;
        height: 21px;
        border: none;
        border-top: 3px solid #333333;
        background-color: transparent;
        position: relative;
        transition: .5s transform linear;
    }
    .hamburger::before, .hamburger::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333333;
        transform: translateY(3px);
    }
    .hamburger::after{
        transform: translateY(9px);
        transition: .5s transform linear;
    }
    .hamburger:focus{
        transform: rotate(45deg) translateX(-3px);
        border: none;

    }
    .hamburger:focus ~.nav_element{
        opacity: 1;
    }
    .hamburger:focus::after{
        transform: rotate(-90deg) translateX(-3px);
    }
    .hello{
        display: grid;
        grid-template-columns: repeat(2,minmax(20vw,1fr));
    }
    .hello h1{
        margin-left: -5px;
        font-size: 55px;
        font-weight: 100;
        padding-top: 10vh;
        padding-bottom: 1vh;
    }
    .hello p{
        font-size: 10px;
        padding-bottom: 18vh;
    }
    .shop{
        padding-top: 10vh;
        padding-bottom: 5vh;
        letter-spacing: 1em;
        font-size: 13px;
        text-align: center;
    }

    .line{
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(2 ,minmax(20vw,1fr));
        padding-bottom: 6vh;
    }
    .line div:nth-child(1){
        border-right: 2px solid #cdcccd;
    }
    .info{
        text-align: center;
        padding-bottom: 5vw;
    }
    .info p{
        font-size: 10px;
        padding-left: -5vw;
        padding-right: 10vw;
    }
    .links{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3 ,minmax(8vw,1fr));
        padding-bottom: 5vh;
    }
    .links a{
        margin-left: -6vw;
    }
    footer .line{
        padding-bottom: 0;
    }
    .items_link{
        border-top:2px solid #333333 ;
        border-bottom: 2px solid #333333;
        width: 40vw;
    }
    /* blog elements */
    .blog_element{
        display: grid;
        grid-template-columns: 60px 1fr;
        padding-bottom: 4vh;
    }
    .blog_element h1{
        text-align: center;
        font-size: 10px;
    }
    .blog_element p{
        text-align: center;
        font-size: 8px;
        color: #cdcccd;
    }
    .title h1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 4vh;

    }
    .blog_text p{
        font-size: 15px;
        text-align: left;
        color: #cdcccd;
    }
        /* faq elements */
        .faq_element{
            display: grid;
            grid-template-columns: 60px 1fr;
            padding-bottom: 4vh;
        }
        .faq_number{
            font-size: 30px;
        }
        .faq_question{
            font-size: 18px;
        }
        .faq_answer{
            font-size: 10px;
            color: #cdcccd;
    
        }
            /* contact */
            .contact_element{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
            .contact_items h1{
                padding-top: 2vh;
                font-size: 20px;
            }
            .contact_items p{
                font-size: 16px;
                color: #cdcccd;
            }
            .form_class input[type=text]{
                border: none;
                margin-bottom: 1vh;
                height: 25px;
                width: 70vw;
                border-bottom: 1px solid #cdcccd;
            }
            .form_class textarea{
                margin-bottom: 1vh;
                resize: none;
                border: none;
                height: 20vh;
                width: 70vw;
                border-bottom: 1px solid #cdcccd;
            }
            .form_class input[type=submit]{
                border: none;
                height: 35px;
            }
  }
  .date{
    text-align: center;
    font-size: 12px;
}